Tests/Service References/calcService/Calculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValueAtRetirement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartingBalance" type="xs:double" />
        <xs:element minOccurs="0" name="MonthlyDeposit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValueAtRetirementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValueAtRetirementResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>